<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070052475297-fea7jp7bnt2v9d74icq2fn21011ucjnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070052475297-fea7jp7bnt2v9d74icq2fn21011ucjnf</string>
	<key>API_KEY</key>
	<string>AIzaSyD2DvqzgqVkafMj_n1pJBwplw5km7CYoV8</string>
	<key>GCM_SENDER_ID</key>
	<string>1070052475297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nayeem.familychat</string>
	<key>PROJECT_ID</key>
	<string>familychat-55095</string>
	<key>STORAGE_BUCKET</key>
	<string>familychat-55095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070052475297:ios:44ce4befe6b06811328be0</string>
</dict>
</plist>